<table class=a border=0 cellspacing=0 cellpadding=0 width="100%"
 style='width:100.0%;mso-cellspacing:0cm;background:white;mso-yfti-tbllook:
 1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
  <td style='padding:0cm 0cm 0cm 0cm'>
  <table class=a border=0 cellspacing=0 cellpadding=0 width=650
   style='width:487.5pt;mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:
   0cm 0cm 0cm 0cm'>
   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:15.0pt'>
    <td style='padding:0cm 0cm 0cm 0cm;height:15.0pt'></td>
   </tr>
   <tr style='mso-yfti-irow:1'>
    <td style='padding:0cm 0cm 0cm 0cm'>
    <div>
    <p class=MsoNormal><b><span style='font-size:11.0pt;mso-fareast-font-family:
    Calibri;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
    color:#014D94'>Mit freundlichen Gr&uuml;&szlig;en I </span></b><b><span
    style='font-size:11.0pt;font-family:"MS Mincho",serif;mso-ascii-font-family:
    Calibri;mso-ascii-theme-font:minor-latin;mso-bidi-font-family:Calibri;
    mso-bidi-theme-font:minor-latin;color:#014D94'>&#25964;&#20855;</span></b><b><span
    style='font-size:11.0pt;mso-fareast-font-family:Calibri;
    mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#014D94'>
    </span></b><b><span style='font-size:12.0pt;mso-fareast-font-family:Calibri;
    mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#014D94'><o:p></o:p></span></b></p>
    </div>
    <div style='margin-top:18.0pt'>
    <p class=MsoNormal><b><span style='font-size:15.0pt;mso-fareast-font-family:
    Calibri;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
    color:#454444'>Salvatore Vinciguerra<o:p></o:p></span></b></p>
    </div>
    <div>
    <p class=MsoNormal><span style='font-size:11.0pt;mso-fareast-font-family:
    Calibri;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
    color:#454444'>Verkaufsberater</span><span style='font-size:12.0pt;mso-fareast-font-family:
    Calibri;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
    color:#454444'><o:p></o:p></span></p>
    </div>
    </td>
   </tr>
   <tr style='mso-yfti-irow:2;height:15.0pt'>
    <td style='padding:0cm 0cm 0cm 0cm;height:15.0pt' widht=650></td>
   </tr>
   <tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes'>
    <td style='padding:0cm 0cm 0cm 0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt;mso-fareast-font-family:
    Calibri;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
    mso-no-proof:yes'><!--[if gte vml 1]><v:shapetype id="_x0000_t75"
     coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
     filled="f" stroked="f">
     <v:stroke joinstyle="miter"/>
     <v:formulas>
      <v:f eqn="if lineDrawn pixelLineWidth 0"/>
      <v:f eqn="sum @0 1 0"/>
      <v:f eqn="sum 0 0 @1"/>
      <v:f eqn="prod @2 1 2"/>
      <v:f eqn="prod @3 21600 pixelWidth"/>
      <v:f eqn="prod @3 21600 pixelHeight"/>
      <v:f eqn="sum @0 0 1"/>
      <v:f eqn="prod @6 1 2"/>
      <v:f eqn="prod @7 21600 pixelWidth"/>
      <v:f eqn="sum @8 21600 0"/>
      <v:f eqn="prod @7 21600 pixelHeight"/>
      <v:f eqn="sum @10 21600 0"/>
     </v:formulas>
     <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
     <o:lock v:ext="edit" aspectratio="t"/>
    </v:shapetype><v:shape id="Pic_x0020_1" o:spid="_x0000_i1025" type="#_x0000_t75"
     style='width:500pt;height:90pt;visibility:visible;mso-wrap-style:square'>
     <v:imagedata src="Sign-Dateien/image001.png" o:title=""/>
    </v:shape><![endif]--><![if !vml]><img width=667 height=120
    src="/static/img/lead_autos/mails/Salvatore Vinciguerra/Sign-Dateien/image001.png" v:shapes="Pic_x0020_1"><![endif]></span><span
    style='font-size:12.0pt;mso-fareast-font-family:Calibri;
    mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><o:p></o:p></span></p>
    <div style='margin-top:20.25pt'>
    <p class=MsoNormal><b><span style='font-size:13.5pt;mso-fareast-font-family:
    Calibri;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
    color:#454444'>Autohaus Lessingstra&szlig;e GmbH<o:p></o:p></span></b></p>
    </div>
    <div style='margin-top:18.0pt'>
    <p class=MsoNormal><span style='font-size:10.0pt;mso-fareast-font-family:
    Calibri;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
    color:#454444'>Lessingstr. 12 | 46149 Oberhausen <br>
    Tel +49 (0) 208 30 99 33 22 | Fax +49 (0) 208 30 99 33 10 <br>
    <a href="mailto:sv@al-auto.de">sv@al-auto.de</a> | <a
    href="https://al-auto.de/">www.al-auto.de</a> </span><span
    style='font-size:12.0pt;mso-fareast-font-family:Calibri;
    mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#454444'><o:p></o:p></span></p>
    </div>
    <div style='border:solid black 1.5pt;padding:4.0pt 8.0pt 4.0pt 8.0pt;
    margin-top:15.75pt;margin-bottom:18.75pt'>
    <p class=MsoNormal><span style='font-size:10.0pt;mso-fareast-font-family:
    Calibri;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
    color:black'>Autohaus Lessingstra&szlig;e GmbH | Lessingstr. 12 | 46149 Oberhausen
    | Tel 0208 30 99 33 0 | Fax 0208 30 99 33 10 | <a href="https://al-auto.de/">www.al-auto.de</a>
    | Commerzbank AG | IBAN DE06 3654 0046 0386 0400 00 | BIC COBADEFFXXX |
    Eingetragen im Handelsregister unter HRB 22277 beim Amtsgericht Duisburg | Umsatzsteuer-Identifikationsnr.
    nach &sect; 27a Umsatzsteuergesetz: DE271272953 | Vertretungsberechtigt: Martin
    Rickmann <o:p></o:p></span></p>
    </div>
    <div style='margin-right:11.25pt;display:inline-block'>
    <table class=a border=0 cellspacing=0 cellpadding=0 style='mso-cellspacing:
     0cm;background:white;mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
     <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
      <td width=53 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'>
      <p class=MsoNormal><span style='font-size:10.0pt;font-family:Calibri,serif;
      mso-fareast-font-family:Calibri'><a
      href="https://www.facebook.com/AutohausLessingstrasse/"><span
      style='mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
      color:windowtext;mso-no-proof:yes;text-decoration:none;text-underline:
      none'><!--[if gte vml 1]><v:shape id="Pic_x0020_2" o:spid="_x0000_i1026"
       type="#_x0000_t75"
       href="https://www.facebook.com/AutohausLessingstrasse/" style='width:32.25pt;
       height:30pt;visibility:visible;mso-wrap-style:square' o:button="t">
       <v:imagedata src="Sign-Dateien/image002.png" o:title=""/>
      </v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout'><img
      border=0 width=43 height=40 src="/static/img/lead_autos/mails/Salvatore Vinciguerra/Sign-Dateien/image002.png" v:shapes="Pic_x0020_2"></span><![endif]></span></a></span><span
      style='font-size:12.0pt;mso-fareast-font-family:Calibri;
      mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><o:p></o:p></span></p>
      </td>
      <td width=60 style='width:45.0pt;padding:0cm 0cm 0cm 0cm'>
      <p class=MsoNormal><span style='font-size:10.0pt;font-family:Calibri,serif;
      mso-fareast-font-family:Calibri'><a
      href="https://www.youtube.com/channel/UCdwcSnqUEiZKo1XRIntzetw"
      style='display:inline-block'><span style='mso-bidi-font-family:Calibri;
      mso-bidi-theme-font:minor-latin;color:windowtext;mso-no-proof:yes;
      text-decoration:none;text-underline:none'><!--[if gte vml 1]><v:shape
       id="Pic_x0020_3" o:spid="_x0000_i1027" type="#_x0000_t75"
       href="https://www.youtube.com/channel/UCdwcSnqUEiZKo1XRIntzetw" style='width:37.5pt;
       height:27pt;visibility:visible;mso-wrap-style:square' o:button="t">
       <v:imagedata src="Sign-Dateien/image003.png" o:title=""/>
      </v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout'><img
      border=0 width=50 height=36 src="/static/img/lead_autos/mails/Salvatore Vinciguerra/Sign-Dateien/image003.png" v:shapes="Pic_x0020_3"></span><![endif]></span></a></span><span
      style='font-size:10.0pt;mso-fareast-font-family:Calibri;
      mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><o:p></o:p></span></p>
      </td>
      <td width=37 style='width:27.75pt;padding:0cm 0cm 0cm 0cm'>
      <p class=MsoNormal><span style='font-size:10.0pt;font-family:Calibri,serif;
      mso-fareast-font-family:Calibri'><a
      href="https://www.instagram.com/autohaus_lessingstrasse_gmbh/"
      style='display:inline-block'><span style='mso-bidi-font-family:Calibri;
      mso-bidi-theme-font:minor-latin;color:windowtext;mso-no-proof:yes;
      text-decoration:none;text-underline:none'><!--[if gte vml 1]><v:shape
       id="Pic_x0020_4" o:spid="_x0000_i1028" type="#_x0000_t75"
       href="https://www.instagram.com/autohaus_lessingstrasse_gmbh/" style='width:27.75pt;
       height:28.5pt;visibility:visible;mso-wrap-style:square' o:button="t">
       <v:imagedata src="Sign-Dateien/image004.png" o:title=""/>
      </v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout'><img
      border=0 width=37 height=38 src="/static/img/lead_autos/mails/Salvatore Vinciguerra/Sign-Dateien/image004.png" v:shapes="Pic_x0020_4"></span><![endif]></span></a></span><span
      style='font-size:10.0pt;mso-fareast-font-family:Calibri;
      mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><o:p></o:p></span></p>
      </td>
     </tr>
    </table>
    </div>
    </td>
   </tr>
  </table>
  </td>
 </tr>
</table>