<div id="kundenbeanstandung_item_{{ item.id }}" class="item panel panel-default">
    <div class="panel-heading flex-between">
        <button type="button" class="btn btn-default js_kundenbeanstandung_edit" data-id="{{ item.id }}">EDIT</button>
        <button type="button" class="btn btn-danger js_kundenbeanstandung_remove" data-id="{{ item.id }}">-</button>
    </div>
    <div class="panel-body">
        <div class="icon"></div>
        <span>{{ item.title }}</span>
    </div>
</div>