{%extends "layout.twig"%}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/static/admin/css/main.css" />
    <link rel="stylesheet" href="/static/css/dispo.css" />

{% endblock %}

{% block content %}

    <div id="wrapper">

        {% include 'partial/main_menu.twig' %}


        <div id="page-wrapper" class="gray-bg" style="padding-bottom: 200px;">
            {% include 'partial/top_menu.twig' %}


            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>{{title}}</h2>
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeIn">
                <div class="row">

                    {% block wrapper %}{% endblock %}

                </div>
            </div>
        </div>

    </div>

    <script src='/static/js/checker/main.js'></script>
{% endblock %}