<div class="col-xs-10">Technische Hinweise</div>
<div class="col-xs-2 flex_right">
    {% if item.from_macs == 0 %}
        <button type="button" class="btn btn-danger js_remove_kundenhinweise_f" data-id="{{ item.id }}">-</button>
    {% endif %}
</div>