<div class="comment panel panel-default">
    <div class="panel-heading flex-between">
        <div>Name: <span class="badge">{{ comment.getUserData().name }}</span></div>
        <!--<div>Email: <span class="badge">{# comment.email #}</span></div>-->
    </div>
    <div class="panel-body">
      {{ comment.comment }}
    </div>
</div>