<div class="work_block">
    <div class="w_block">
        <div class="icon">
            <i class="fas fa-info-circle"></i>
        </div>
        <div class="title">{{ item.title }}</div>
    </div>
    <button type="button" class="btn btn-warning js_kundenhinweise_modal" data-type="fahrzeugnutzung"  data-kundenhinweise_id="{{ item.id }}">Ausführen</button>
</div>