<li class="list-group-item">
    <div class="flex">
        <textarea name="message" class="form-control">{{ item.message }}</textarea>
        <button type="button" class="btn btn-deafult js_kundenhinweis_kommentar_edit" data-id="{{ item.id }}">EDIT</button>
    </div>
</li>